<h1 class="mb-4">Lista de Libros</h1>

<a href="/libros/nuevo" class="btn btn-primary mb-3">Nuevo Libro</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Autor</th>
      <th>Año</th>
      <th>Género</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td><%= libro  ?  libro.titulo : " " %></td>
        <td><%= libro  ?  libro.autor : " " %></td>
        <td><%= libro  ?  libro.anio_publicacion : " " %></td>
        <td><%= libro  ? libro.genero : " " %></td>
        <td>
          <a href="/libros/<%= libro.id %>/editar" class="btn btn-sm btn-warning">Editar</a>
          <form action="/libros/<%= libro.id %>/eliminar" method="POST" class="d-inline">
            <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
          </form>
        </td>
      </tr>
  </tbody>
</table>



